body {
	margin: 0px;
	font-family: Verdana, sans-serif;
}

p {
	margin: 15px;
}

a {
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: seagreen;
	border-radius: 10px;
	height: 10%;
}
/* Header */
span {
	background-color: seagreen;
}

h1 {
	color: white;
	text-align: center;
}

/*Side-menu */
ul.menu {
	margin: 0px;
	padding: 15px;
	list-style-type: none;
	line-height: 80px;
	font-size: 25px;
	font-weight: 999;
	width: 100%;
	height: 100%;
	position: fixed;
	
}

.menu a {
	background-color: white;
	border-left: 5px solid seagreen;
	padding: 20px 10px;
	color: cornflowerblue;
}


.menu a:hover {
	background-color: seagreen;
	color: white;
}

/*Main frame content */
h2 {
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	text-align: center;
	font-size: 22px;
	border-left: 5px solid seagreen;
	background-color: bisque;
	color: cornflowerblue;
}

button {
	margin: auto;
	font-size: 18px;
	color: white;
	background-color: seagreen;
	border: none;
	border-radius: 10px;
	padding: 15px;
	display: block;
	cursor: pointer;
}

button:hover {
	opacity: 0.6;
}

hr {
	border-top: 5px dotted seagreen;
	width: 70%;

}

table {
	margin: auto;
	width: 70%;
	text-align: center;
}

td,th {
	padding: 15px;
}
